# Files Ignored

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
#*.iml
*.ipr
*.iws

##############################
## Java
##############################
.mtj.tmp/
*.class
#*.jar
gson-2.8.2.jar
*.war
*.ear
*.nar
hs_err_pid*